
.wrapper{
    .user-section {
        border: 2px solid saddlebrown;
        margin: 5px;
        padding: 5px;
        div {
            margin: 5px;
        }
        .post {
            background-color: sandybrown;
        }
        .show-hide-btn {
            margin: 5px;
        }
    }

}